
<h1> Results Page </h1>

<b>Total words</b>: <%= @total_words %>


<form action="">
	<input id="alphButton" type="radio" name="data_view" value="alpha">Alphabetical&nbsp;
	<input id="numButton" type="radio" name="data_view" value="numerical">Numerical&nbsp;
</form>


<div id="wrapper">
	<div id="first">
		<div id="divOne">
			Value:<br>
			<% @value_dict_sort.each do |word, value| %>
				<%= word %>: <%= value[0] %><br>
			<% end %>
		</div>

		<div id="divTwo">
			Alpha:<br>
			<% @word_dict_sort.each do |word, value| %>
				<%= word %>: <%= value[0] %><br>
			<% end %>
		</div>
	</div>


	<div id="second">
		<% @words_count_meaning.each do |word, count_meaning| %>
			<b><%= word %></b>: <%= count_meaning %><br><br>
		<% end %>
	</div>
</div>
